 
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    color:  #3F3F3F;
}
header div{
    background-color: #c7d472fc;
}
header img{
    width: 100%;
    max-height: 53vh;
    object-fit: fill;
}
header div h1{
    color: #fff;
    padding: 20px 0;
    font-size: 35px;
    
}
footer{
    font-size: 20px;
    color: #fff;
    background-color: #c7d472fc;
}
h1{
    font-size: 30px;
    padding: 16px 0;
    width: 100%;
    text-align: center;
}
h2{
    width: 100%;
    margin: 16px 0;
    text-align: center;
}
.figurinha .card-text{
    font-family: 'Gloria Hallelujah', cursive;
}
.caixa-personagem{
    width: 90%;
}
.personagem img{
    object-fit: contain;
    height: 300px;
    width: 300px;
    
}
.figurinha{
    width: 22vw;
    object-fit: contain;
    
}
.figurinha img{
    height: 27vw;
    
}
.dashboard img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.adm{
    background-color: #f5a988 !important;
    border-color:#f5a988 ;
}

section img{
    width: 280px;
    height: 280px;
    object-fit: contain;
}
.questoes .alternativas{
    width: 300px;
    margin: 10px 0;
}
.questoes h1{
    max-width: 400px;
}
.alternativas{
    border-color: #A7D1EF !important;
    background-color: #A7D1EF !important;
}

.azul{
    background: #9BB1EA;
    border-color: #9BB1EA;
}

.home img{
    margin: 0 10px;
    width: 22vw;
}
.sobre img{
    width: 25vw;
    min-width: 300px;
}
.sobre p {
    text-align: justify !important;
    width: 75%;
    line-height: 30px;
}